.header {
  text-align: center;
}
.logo {
  height: 50px;
}
.header nav {
  background-color: black;
  line-height: 40px;
}
.header nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
}
.header nav a:hover {
  background-color: lightgray;
}

nav p {
  display: inline;
  color: aliceblue;
  background-color: rgb(255, 123, 0);
  padding: 5px;
  border-radius: 4px;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
}

.name {
  display: inline;
  margin-left: 10px;
  color: aliceblue;
  margin-right: 10px;
}

.userPhoto {
  line-height: 10px;
  height: 30px;
  margin-bottom: -8px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
